.background {
  position: fixed;
  inset: 0;
  overflow: auto;
}

.backgroundNutrition {
  z-index: 1000;
}

.info {
  width: 1250px;
  background-color: #00000080;
  border-radius: 20px;
  margin: 50px auto;

  .headingOfList {
    color: white;
    font-size: 46px;
    margin-left: 30px;
    transform: translateY(30px);
    display: inline-block;
    text-shadow: rgb(0, 0, 0) 5px 5px 5px;
  }

  .imagesSection {
    padding: 0 0px 20px 50px;
  }
  h1 {
    color: rgb(255, 255, 255);
    padding-top: 50px;
    padding-bottom: 25px;
    margin-top: -77px;
    text-shadow: rgb(0, 0, 0) 5px 5px 5px;
  }
  img {
    min-width: 33%;
    height: 250px;
    padding: 5px;
    border-radius: 30px;
    border: none;
    cursor: grab;
  }
  img:active {
    cursor: grabbing;
  }
  .closeBtn {
    text-align: right;
    margin-left: 94%;
    margin-top: 25px;
    cursor: pointer;
    width: 40px;
    height: 40px;
  }

  .closeBtn path {
    fill: white
  }

  .closeBtn2 {
    text-align: right;
    margin: -95px 0 64px 94%;
    cursor: pointer;
    width: 40px;
    height: 40px;
  }

  .closeBtn2 path {
    fill: white;
  }
  .btnClass {
    display: block;
    margin: 80px auto 90px auto;
    width: 170px;
    padding: 12px;
    background-color: white;
    transform: translateY(-40px);
    font-weight: 700;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid black;
    transition: all 0.3 ease-in-out;
  }
  .btnClass:hover {
    transform: translateY(-40px) scale(1.2);
  }
  .btnClass:active {
    transform: translateY(-40px) scale(1.1);
  }
  .flexClass {
    display: flex;
    height: 350px;
    border-top: 2px solid rgb(255, 255, 255);

    border-right: none;
    margin: 30px 40px 40px 40px;

    .singleProduct {
      margin-bottom: 30px;
      padding: 0;
      cursor: default;
      border: 2px solid rgb(255, 255, 255);
      width: 300px;
    }

    .centralContent {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-left: 30px;

      h3 {
        font-weight: 600;
        font-size: 22px;
        padding: 20px 0 10px 0;
      }
    }

    .inGeneralClass {
      overflow: auto;
      width: 450px;
      margin: 50px 30px 12px 50px;
      letter-spacing: 1px;
      font-weight: 500;
      text-align: center;
      padding: 0 25px 25px 25px;
      border: 1px dotted black;
      border-radius: 20px;
      background: white;
    }
    .inGeneralClass::-webkit-scrollbar {
      display: none;
    }
    h2 {
      color: white;
      text-align: center;
      padding: 30px 0 15px 0;
      font-size: 35px;
      font-weight: 800;
      text-shadow: rgb(0, 0, 0) 5px 5px 5px;
    }

    .asideButtonsClass {
      display: flex;
      justify-content: center;
      padding: 20px;
      margin: 0 auto;
      flex-direction: column;

      :first-child {
        margin: 30px;
        height: 60px;
        width: 220px;
        background-color: white;
        border-radius: 20px;
        border: 1px solid black;
        cursor: pointer;
        transition: transform 0.1s ease;
        font-weight: 800;
        font-size: 18px;
      }
      :first-child:hover {
        transform: scale(1.1);
      }
      :first-child:active {
        transform: scale(1);
      }
      :last-child {
        margin: 30px;
        height: 60px;
        width: 220px;
        background-color: white;
        border-radius: 20px;
        border: 1px solid black;
        cursor: pointer;
        font-weight: 800;
        transition: transform 0.1s ease;
        font-size: 18px;
      }
      :last-child:hover {
        transform: scale(1.1);
      }
      :last-child:active {
        transform: scale(1);
      }
    }
  }

  .accordionTopic {
    border: 1px solid black;
    font-weight: 700;
    border-radius: 20px;
    cursor: pointer;
    padding: 17px;
    background-color: #f0f0f0;
    margin: 0 20px;
    font-size: 20px;
  }

  .accordionText {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.8;
    padding: 10px 30px;
    text-shadow: black 5px 5px;
  }

  .goBackFromList {
    margin: 30px 50% 50px 50%;
    transform: translate(-50%);
    width: 170px;
    height: 60px;
    padding: 12px;
    background-color: white;
    font-weight: 700;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid black;
    transition: transform 0.3 ease-in-out;
  }

  .goBackFromList:hover {
    transform: scale(1.1) translate(-45%);
  }

  .goBackFromList:active {
    transform: scale(1) translate(-50%);
  }

  .nutritionClass {
    padding-bottom: 30px;
  }

  .nutritionHeading {
    color: white;
    text-shadow: black 5px 5px 5px;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    border-radius: 20px;

    span {
      color: rgb(255, 255, 255);
      text-decoration: underline;
      font-size: 38px;
    }
  }

  .per100Grams {
    color: rgb(255, 255, 255);
    text-shadow: black 5px 5px 5px;
    text-align: center;
    font-size: 20px;
    margin-top: -5px;
    margin-bottom: 10px;
  }

  .nutritionDiv {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 20px;
    margin: 0 20px;
    padding: 0 20px;
    text-align: left;

    .nutritionElements {
      margin-left: 20px;
      color: rgb(255, 255, 255);
      text-shadow: black 5px 5px 5px;
      font-size: 22px;
      font-weight: 800;
      text-align: left;
    }

    .nutritionQuantity {
      color: rgb(255, 255, 255);
      text-shadow: black 5px 5px 5px;
      text-decoration: underline;
      margin-left: 20px;
    }

    .measurementUnits {
      color: rgb(255, 255, 255);
      text-shadow: black 5px 5px 5px;
      margin-left: 10px;
      font-size: 20px;
    }

    .description {
      color: rgb(255, 255, 255);
      text-shadow: black 5px 5px 5px;
      margin-left: 15px;
      font-size: 20px;
    }
  }

  .compareHeading {
    padding: 35px 0 0 55px;
    color: white;
    text-shadow: rgb(0, 0, 0) 5px 5px 5px;
    font-size: 35px;

    span {
      color: white;
      text-shadow: black 5px 5px 5px;
      text-decoration: underline;
      font-size: 38px;
    }
  }
  .selectClassNutrition {
    margin: 50px;
    padding: 20px;
    border-radius: 20px;
    font-size: 25px;
    font-weight: 600;
    width: 450px;
  }

  .compareFlexDisplay {
    display: flex;
    margin: 30px auto;
  }

  input {
    height: 50px;
    border-radius: 20px;
    font-size: 20px;
    padding: 10px;
    font-weight: 600;
    display: flex;
    transform: translateY(-25px);
    width: 400px;
    margin-left: 35%;
  }
}

.accordionTopic {
  border: 1px solid black;
  font-weight: 800;
  border-radius: 20px;
  cursor: pointer;
  padding: 12px;
  background-color: #f0f0f0;
  margin: 0 20px;
}

.nutritionInfo {
  h1 {
    color: black;
    padding: 30px 30px 15px 30px;
    font-size: 45px;
    margin-top: -77px;
  }

  h3 {
    text-align: center;
    font-size: 31px;
  }

  span {
    color: red;
  }

  pre {
    padding: 20px;
    line-height: 1.5;
  }
}

.nutritionH1 {
  font-size: 45px;
}

.accordionBackground {
  overflow: auto;
  margin: 50px auto;
  width: 1100px;
  background-color: #00000080;
  color: black;
  border-radius: 20px;

  .accordionBackground::-webkit-scrollbar {
    display: none;
  }

  .accordionTopic {
    margin: 20px 40px;
    font-size: 20px;
  }

  .accordionText {
    color: rgb(255, 255, 255);
    text-shadow: black 5px 5px 5px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    padding: 0 10px 10px 10px;
  }

  h2 {
    color: white;
    text-shadow: black 5px 5px 5px;
    text-align: center;
    margin-bottom: -18px;
    padding-top: 32px;
    padding-bottom: 20px;
    font-size: 45px;

    span {
      text-decoration: underline;
      color: white;
    }
  }

  h3 {
    color: white;
    text-shadow: black 5px 5px 5px;
    text-align: center;
    margin: 40px;
    padding: 20px;
    line-height: 1.3;
    border: 2px dotted rgb(255, 255, 255);
    border-radius: 20px;
    font-size: 25px;
  }
}

.cultivationHeadingClass {
  padding: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
}

.cultivationBackground {
  position: fixed;
  inset: 0;
  overflow: auto;

  .infoCultivation {
    margin: 50px auto;
    max-width: 1100px;
    background-color: #00000080;
    border-radius: 20px;

    .accordionTopic {
      margin: 20px 40px;
      font-size: 20px;
    }

    .activeIdClass {


      border-radius: 20px;
      margin: 20px;
    }

    h2 {
      color: white;
      text-shadow: black 5px 5px 5px;
      text-align: center;
      margin-bottom: -18px;
      padding-top: 32px;
      padding-bottom: 20px;
      font-size: 45px;

      span {
        color: rgb(255, 255, 255);
      }
    }

    h3 {
      color: white;
      text-shadow: black 5px 5px 5px;
      text-align: center;
      margin: 40px;
      padding: 20px;
      line-height: 1.3;
      border: 2px dotted black;
      border-radius: 20px;
      font-size: 25px;
    }

    p {
      color: rgb(255, 255, 255);
      text-shadow: black 5px 5px 5px;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.8;
      padding: 0 10px;
    }
  }
}

.btnClassDiv {
  display: flex;
  padding: 30px 30px 50px 30px;
  justify-content: center;
  flex-direction: row;

  .btnClass1 {
    margin-right: 50px;
    height: 60px;
    width: 220px;
    padding: 12px;
    background-color: white;
    font-weight: 700;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid black;
    transition: all 0.3 ease-in-out;
  }
  .btnClass2 {
    margin-left: 50px;
    height: 70px;
    width: 220px;
    padding: 12px;
    background-color: white;
    font-weight: 700;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid black;
    transition: all 0.3 ease-in-out;
  }

  .btnClass1:hover {
    transform: scale(1.2);
  }
  .btnClass1:active {
    transform: scale(1.1);
  }
  .btnClass2:hover {
    transform: scale(1.2);
  }
  .btnClass2:active {
    transform: scale(1.1);
  }
}

.btnClass {
  display: block;
  margin: 70px auto;
  width: 170px;
  padding: 12px;
  background-color: white;
  transform: translateY(-40px);
  font-weight: 700;
  font-size: 18px;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid black;
  transition: all 0.3 ease-in-out;
}
.btnClass:hover {
  transform: translateY(-40px) scale(1.2);
}
.btnClass:active {
  transform: translateY(-40px) scale(1.1);
}

.chooseVarietyBackground {
  position: fixed;
  inset: 0;
  overflow: auto;
}

.chooseVarietyInfo {
  margin: 50px auto;
  width: 1150px;
  background-color: #00000080;
  border-radius: 20px;

  input {
    margin: 50px 0 0 50px;
    height: 50px;
    border-radius: 20px;
    font-size: 20px;
    padding: 10px;
    font-weight: 600;
    width: 600px;
  }

  .closeVarietyList {
    margin-left: 46%;
    padding-top: 15px;
    display: flex;
    width: 100%;
    height: 40px;
    cursor: pointer;
  }
  .closeVarietyList path {
    fill: white;
  }
}

.listOfVarietySearch {
  color: white;
  text-shadow: black 5px 5px 5px;
  margin: 15px;
  font-size: 18px;
  font-weight: 800;
  margin-left: 50px;
  cursor: pointer;
  width: 80px;
  display: flex;
  flex: 2;
}
.listOfVarietySearch:hover {
  text-decoration: underline;
  transform: scale(1.1);
  color: red;
}

.containerVarietySearch {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 30px 30px 0;
}

.searchedItem {
  margin: 50px;
}

.quantityDifferenceClass {
  font-size: 25px;
  text-align: center;
  padding: 0 0 20px 0;
  margin-left: 10px;

  span {
    margin-left: 10px;
    color: red;
  }
}

.nutritionListInfo {
  margin: 50px auto;
  width: 500px;
  background-color: #00000080;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;

  h3 {
    margin-top: 20px;
    color: rgb(255, 255, 255);
    text-shadow: black 5px 5px 5px;
    font-size: 35px;
  }

  .selectClassNutrition {
    margin: 45px;
    padding: 15px;
    border-radius: 20px;
    font-size: 25px;
    font-weight: 600;
    width: 350px;
  }

  .elementFromList {
    color: rgb(255, 255, 255);
    text-shadow: black 5px 5px 5px;
    margin: 12px;
  }

  .closeBtn {
    font-size: 25px;
    margin-bottom: -45px;
    text-align: right;
    margin-left: 83%;
    margin-top: 24px;
    cursor: pointer;
    z-index: 10;
    width: 40px;
    height: 40px;
    color: white;
  }

  .closeBtn path {
    fill: white;
  }
}



.closeVarietyBtn {
  margin: 70px auto;
  width: 170px;
  padding: 12px;
  background-color: white;
  display: flex;
  justify-content: center;
  transform: translateY(-40px);
  font-weight: 700;
  font-size: 18px;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid black;
  transition: all 0.3 ease-in-out;
}
.closeVarietyBtn:hover {
  transform: translateY(-40px) scale(1.2);
}
.closeVarietyBtn:active {
  transform: translateY(-40px) scale(1.1);
}

.nutritionBenefitClassText {
  margin: 0 40px 40px 40px;
  line-height: 1.4;
  color: grey;
  text-shadow: black 5px 5px 5px;
}




// RESPONSIVE DESIGN

@media (max-width: 431px) {
  .background {
    position: fixed;
    inset: 0;
    overflow: auto;

    .info {
      display: block;

      .nutritionBenefitClassText {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.3;
      }

      .headerOfList {
        margin-bottom: 30px;

        .headingOfList {
          display: none;
        }

        input {
          width: 200px;
          height: 40px;
          left: -34px;
          position: absolute;
          top: 104px;
        }
      }
      .compareHeading {
        font-size: 35px;
        margin-top: 20px;
      }
      .selectClassNutrition {
        width: 86%;
        margin: 20px;
        font-size: 20px;
      }
    }
  }

  .info {
    width: 300px;
    margin: 20px auto;
    border-radius: 15px;

    .imagesSection {
      padding-left: 5px;
    }

    h1 {
      font-size: 35px;
      padding-top: 20px;
      padding-bottom: 15px;
      margin-top: -30px;
    }

    img {
      width: 100px;
      height: 100px;
      border-radius: 20px;
    }

    .nutritionH1 {
      font-size: 55px;
    }

    .closeListBtn {
      right: 43px;
      position: absolute;
      top: 80px;
      width: 25px;
      height: 25px;
    }

    .closeBtn {
      margin-left: 87%;
      margin-top: 10px;
      width: 26px;
      height: 26px;
    }
    .closeBtn2 {
      margin: 20px 0px 50px 87%;
      width: 26px;
      height: 26px;
    }

    .btnClass {
      width: 150px;
      padding: 10px;
      font-size: 16px;
    }

    .flexClass {
      flex-direction: column;
      height: auto;
      margin: 0 15px;

      .singleProduct {
        margin: 20px 20px 20px 39px;
        width: 70%;
        height: 70%;
      }

      .centralContent {
        font-weight: 700;
        font-size: 15px;
        padding: 20px 0 20px 0;
      }

      .inGeneralClass {
        width: 85%;
        height: 300px;
        margin: 20px 20px 20px 6px;
        padding: 15px;
        font-size: 14px;
      }

      h3 {
        padding: 20px 40px 20px 0;
        font-size: 10px;
      }

      h2 {
        font-size: 26px;
        padding: 10px 0;
        margin-top: 15px;
      }

      .asideButtonsClass {
        flex-direction: column;
        align-items: center;

        :first-child,
        :last-child {
          width: 140%;
          height: 40px;
          font-size: 11px;
          margin: 15px;
        }
      }
    }

    .accordionTopic,
    .accordionBackground {
      font-size: 14px;
      padding: 8px;
    }
    .nutritionClass {
      padding-bottom: 15px;
    }

    .nutritionH1 {
      font-size: 35px;
      margin-bottom: 0;
    }

    .nutritionHeading {
      font-size: 23px;
      padding: 20px;

      span {
        font-size: 25px;
      }
    }

    .per100Grams {
      font-size: 17px;
      margin-bottom: 20px;
    }

    .nutritionDiv {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;

      .nutritionElements,
      .nutritionQuantity,
      .measurementUnits,
      .description {
        font-size: 16px;
        margin-left: 10px;
        text-align: center;
      }

      div {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        font-size: 40px;
        font-weight: 700;
        margin: 15px 25px;
      }

      .description {
        margin-top: 20px;
        font-weight: 300;
        margin: 0 30px;
      }
    }

    .compareHeading {
      margin-top: 25px;
      font-size: 26px;
      padding: 20px;
      text-align: center;
    }
    .compareFlexDisplay {
      flex-direction: column;
    }

    input {
      font-size: 16px;
      padding: 8px;
    }
  }

  .btnClassDiv {
    flex-direction: column;
    padding: 20px 0;
    align-items: center;

    .btnClass1,
    .btnClass2 {
      width: 220px;
      margin: 20px 0;
    }
  }

  .chooseVarietyInfo {
    width: 300px;
    display: flex;
    flex-direction: column;

    .closeVarietyList {
      padding-top: 15px;
      margin-left: 42%;
      cursor: pointer;
    }
    input {
      width: 200px;
    }
  }

  .nutritionListInfo {
    width: 300px;
    padding: 10px;

    h3 {
      font-size: 38px;
      margin: 40px auto;
    }
    .selectClassNutrition {
      margin: 20px auto;
      width: 85%;
    }

    .closeBtn {
      width: 26px;
      height: 26px;
      margin-left: 90%;
      margin-top: 3px;
    }
    .closeBtn2 {
      font-size: 20px;
      margin-left: 85%;
    }

    .nutritionBenefitClassText {
      font-weight: 400;
    }
  }
  .infoCultivation {
    width: 300px;
  }
  .listOfVarietySearch {
    margin: 10px;
    width: 50px;
    padding: 10px;
    font-size: 15px;
  }

  .nutritionBenefitClassText {
    font-weight: 400;
  }

  .accordionBackground {
    width: 300px;
    height: auto;
    .accordionTopic {
      margin: 20px 40px;
    }
  }
  .accordionText {
    height: 400px;
    overflow: scroll;
  }
}
