.background {
  position: fixed;
  inset: 0;
  background: url(../../assets/images/Vegetables/vegetables.webp);
  background-size: contain;
  overflow: auto;
}

.info {
  margin: 50px auto;
  width: 1100px;
  background-color: wheat;
  border-radius: 20px;


  .imagesSection {
    padding-left: 18px;
    padding-bottom: 20px;
  }
  h1 {
    color: black;
    padding-top: 50px;
    padding-bottom: 25px;
    margin-top: -77px;
  }
  img {
    min-width: 33%;
    height: 250px;
    padding: 5px;
    border-radius: 30px;
    border: none;
    cursor: grab;
    
  }
  img:active {
    cursor: grabbing;
  }
  .closeBtn {
    text-align: right;
    margin-left: 94%;
    margin-top: 30px;
    cursor: pointer;
  }
  .btnClass {
    display: block;
    margin: 70px auto;
    width: 170px;
    padding: 12px;
    background-color: white;
    transform: translateY(-40px);
    font-weight: 700;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid black;
    transition: all 0.3 ease-in-out;
  }
  .btnClass:hover {
    transform: translateY(-40px) scale(1.2);
  }
  .btnClass:active {
    transform: translateY(-40px) scale(1.1);
  }
  .flexClass {
    display: flex;
    height: 350px;
    border-bottom: 1px solid black;
    border-right: none;
    margin: 0 30px;

    .singleProduct {
      margin-bottom: 30px;
      padding: 0;
      cursor: default;
      border: 1px solid black;
      width: 300px;
    }

    .inGeneralClass {
      overflow: auto;
      padding: 0 0 20px 20px;
      width: 500px;
      margin: 30px;
      letter-spacing: 1px;
      font-weight: 500;
      text-align: center;
    }
    .inGeneralClass::-webkit-scrollbar {
      display: none;
    }
    h2 {
      text-align: center;
      padding: 15px 0;
      font-size: 28px;
    }

    

    .asideButtonsClass {
      display: flex;
      justify-content: center;
      padding: 40px;
      margin: 0 auto;
      flex-direction: column;

      :first-child {
        margin: 30px;
        width: 130px;
        height: 50px;
        background-color: white;
        border-radius: 20px;
        border: 1px solid black;
        cursor: pointer;
        transition: transform .1s ease;
        font-weight: 600;
    }
        :first-child:hover {
            transform: scale(1.1);
        }
        :first-child:active {
            transform: scale(1);
        }
      :last-child {
        margin: 30px;
        height: 50px;
        width: 130px;
        background-color: white;
        border-radius: 20px;
        border: 1px solid black;
        cursor: pointer;
        font-weight: 600;
        transition: transform .1s ease;
      }
      :last-child:hover {
        transform: scale(1.1);
    }
        :last-child:active {
        transform: scale(1);
    }
  }

}

.accordionTopic {
  border: 1px solid black;
  font-weight: 600;
  border-radius: 20px;
  cursor: pointer;
  padding: 12px;
  background-color: #f0f0f0;
  
}
.accordionText {
  color: black;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
  padding: 0 10px 10px 10px;
}

.goBackFromList {
  margin: 30px 50%;
  transform: translate(-50%);
  width: 170px;
  padding: 12px;
  background-color: white;
  font-weight: 700;
  font-size: 18px;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid black;
  transition: transform 0.3 ease-in-out;
}

.goBackFromList:hover {
  transform: scale(1.1) translate(-45%);
}

.goBackFromList:active {
  transform: scale(1) translate(-50%);
}
}

.accordionTopic {
  border: 1px solid black;
  font-weight: 600;
  border-radius: 20px;
  cursor: pointer;
  padding: 12px;
  background-color: #f0f0f0;
}



.accordionBackground {
  position: fixed;
  z-index: 10;
  inset: 0;
  overflow: auto;
  margin: 50px auto;
  width: 1100px;
  background-color: wheat;
  color: black;

  .accordionText {
    color: black;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    padding: 0 10px 10px 10px;
  }


  .btnClass {
    display: block;
    margin: 20px auto;
    width: 170px;
    padding: 12px;
    background-color: white;
    font-weight: 700;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid black;
    transition: all 0.3 ease-in-out;
  }

}

.cultivationHeadingClass {
  padding: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
}